/* Formatting for the Entire Webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

p {
    margin-bottom: 20px;
}

/* Formatting for the Header Bar of the Webpage */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #c4c4c4;
    color: rgba(0,0,0,0.5);
    gap: 20px;
}

header div section {
    display: inline-block;
}

header div section div{
    display: inline-flex;
    background-color: rgba(0,0,0,0.5);
    width: 35px;
    height: 35px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.widthTwoX {
    width: 70px;
}

.widthThreeX {
    width: 105px;
}

.widthFourX {
    width: 140px;
}

/* Formatting for teh Main Content of the Webpage */

#content, #questionnaire {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#welcome, #addScore, #highScores{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 50px;
}

#welcome .btn, #addScore .btn, #highScores .btn {
    border: none;
    background-color: #2F6DAE;
    border-radius: 10px;
    color: #ffffff;
    margin: 20px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

#welcome .btn:hover, #welcome .btn:focus,
#questionnaire > button:hover, #questionnaire > button:focus,
#addScore .btn:hover, #addScore .btn:focus, 
#highScores .btn:hover, #highScores .btn:focus {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.4); 
}

#questionnaire {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    background-color: #c4c4c4;
    border-radius: 20px;
    gap: 20px;
    width: calc(100% - 40px);
}

#questionnaire > div, #questionnaire > button {
    display: flex;
    border: none;
    padding: 20px;
    height: 200px;
    width: calc(25% - 15px);
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    gap: 20px;
}

#questionnaire > button {
    flex-direction: column;
    flex-wrap: wrap;
}

#questionnaire div:nth-child(1) {
    width: 100%;
}

#questionnaire button:nth-child(2) {
    background-color: #2F6DAE;
}

#questionnaire button:nth-child(3) {
    background-color: #2C9CA6;
}

#questionnaire button:nth-child(4) {
    background-color: #ECA82C;
}

#questionnaire button:nth-child(5) {
    background-color: #D4546A;
}

#question {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.hotkey {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    max-width: 35px;
    height: 35px;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.15);
    align-items: center;
    justify-content: center;
}

.answer {
    font-size: 1.25rem;
}

/* Formatting for the Add Score page */
input {
    padding: 10px;
    max-width: 150px;
}

/* Formatting for the Highscores page */
#highScores li {
    height: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    padding-left: 20px;
    background-color: #ECA82C;
    color: white;
    line-height: 1.5;
    border-radius: 9999em;
}

/* Formatting when the window size changes*/
@media only screen and (max-width: 750px) {
    #questionnaire > button {
        width: calc(50% - 15px);
    }
}